# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.mux_workspace.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kakunpc\workspace\mux_workspace\.idea\.idea.mux_workspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
